@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'PT Serif', serif;
}

#header {
    display:flex;
    align-items:Center;
    justify-content:space-between;
    padding:20px 80px;
    background:#E3E6F3;
    box-shadow:0 5px 15px rgba(0,0,0,1);
    z-index:999;
    position:sticky;
    top:0;
    left:0;
}

#navbar {
    display:flex;
    align-items:center;
    justify-content:center;
}

#navbar li {
    list-style:none;
    padding:0px 20px;
    position:relative;
    cursor:pointer;
}

#navbar li a {
    text-decoration:none;
    font-size:16px;
    font-weight:600;
    color:black;
    transition:0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    /* text-decoration:underline; */
    color:#088178;
}

/* #navbar li a:hover::after, */
#navbar li a.active::after,
#navbar li a:hover::after {
    content:"";
    width:30%;
    height:2px;
    background:#088178;
    bottom:-4px;
    left:20px;
    position:absolute;
}

h1 {
    color:#088178;
    font-size:70px;
    font-weight:bold;
    text-transform:uppercase;
}

h2 {
    font-size:70px;
    font-weight:bold;
}

h3 {
    font-size:30px;
}

h4 {
    color:rgb(117, 95, 95);
    font-size:20px;
}

#hero {
    background-image:url("img/hero4.png");
    background-size:cover;
    width:100%;
    height:90vh;
    position:top 25% right 0;
    padding:0 80px;
    display:flex;
    align-items:flex-start;
    justify-content:center;
    flex-direction:column;

}

#hero-btn {
    background-image:url("img/button.png");
    background-size:cover;
    background-color:transparent;
    border:none;
    height:50px;
    width:230px;
    /* cursor:pointer; */
    color:#088178;
}

#hero-btn:hover {
    cursor:pointer;
    font-weight:bold;
}

#feature {
    display:flex;
    align-items:center;
    justify-content:space-around;
}

#feature .fe-box {
    width:180px;
    padding:25px 15px;
    text-align:center;
    border:2px solid #cce7d0;
    box-shadow:10px 10px 54px rgba(70,62,221,0.1);
    margin:25px 25px;
}


#feature .fe-box p {
    padding:9px 8px 6px 8px;
    line-height:1;
    border-radius:4px;
    color:#088178;
    background-color:rgb(254, 182, 194);
}

#feature .fe-box:hover {
    box-shadow: 20px 20px 34px rgba(0,0,0,0.3);
}

#feature .fe-box img {
    width:100%;
    margin-bottom:10px;
}

.fe-pro, .sum-coll {
    text-align:center;
}

.pro-container img {
    height:240px;
    width:240px;
    border-radius:8px;
    /* margin-top:20px; */
}

.pro-container {
    height:400px;
    width:300px;
    /* flex-direction:row; */
    border:2px solid black;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color: #088178;
    border-radius:20px;
    margin:20px;
    position:relative;
    margin:10px;
}

.des {
    display:flex;
    flex-direction:column;
    margin-right:50px;
}
.des span{
    color:lightslategrey;
    padding:3px;
}

.des p {
    font-weight:bold;
    padding:3px;
}

.des .star i {
    font-size:20px;
    color:rgb(243, 181, 25);
    padding:3px;
}

.star {
    display:flex;
    align-items:flex-start;    
}

#featuredproducts .cart {
    background-color: aqua;
    height:40px;
    width:40px;
    border-radius:25px;
    position:relative;
    left:195px;
    bottom:50px;
}

#featuredproducts .cart img{
    width:20px;
    height:20px;
    color:#088178;
    position:absolute;
    left:10px;
    top:10px;
}

.container {
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    flex-direction:row;
}

#banner {
    background-image: url(img/banner/b2.jpg);
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:250px;
    margin: 20px 0px;
    font-size: 50px;
}

#banner h4 {
    color:white;
    font-size:50px;
}

#banner span {
    color:Red;
}

#explore-more {
    height:55px;
    width:200px;
    margin:10px;
    border-radius:10px;
}

#explore-more:hover {
    border-radius:10px;
    background-color:#088178;
    cursor:pointer;
    text-decoration:underline;
    font-weight:bold;
    color:white;
}

#sm-banner {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    margin:50px 0px;
    width:1500px;
    /* border:2px solid red; */
}

.banner-box {
    background-image:url(img/banner/b17.jpg);
    height:350px;
    width:600px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
    color:white;
    background-size: cover;
    background-position:center;
}

.banner-box2 {
    background-image:url(img/banner/b10.jpg);
}

.banner-box h4 {
    color:white;
    margin:5px 20px;
    /* border:2px solid red; */
}

.banner-box p {
    font-size:40px;
    font-weight:bold;
    margin:0px 20px;
    /* border:2px solid red; */
}

.banner-box span {
    margin:10px 20px;
}

.banner-box .white {
    height:50px;
    width:150px;
    margin:5px 20px;
    color:white;
    background-color:transparent;
    border:1px solid white;
    font-weight:bold;
    font-size:20px;
}

#sm-banner .banner-box:hover button {
    background:#088178;
    border:1px solid #088178;
    cursor:pointer;
}

#new-banner {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:1500px;
    margin-bottom:50px;
}

#new-banner h2 {
    color:white;
    text-transform:uppercase;
    font-size:30px;
    font-weight:bold;
    margin-left:20px;
}

#new-banner h3 {
    color:red;
    text-transform:capitalize;
    font-size:20px;
    margin-left:20px;
}

.banner-1 {
    background-image: url(img/banner/b7.jpg);
    margin:0px 26px;
    background-size: cover;
    background-position:center;
    height:250px;
    width:400px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
}

.banner-2 {
    background-image:url(img/banner/b4.jpg);
    margin:0px 26px;
    background-size: cover;
    background-position:center;
    height:250px;
    width:450px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
}
.banner-3 {
    background-image:url(img/banner/b18.jpg);
    margin:0px 26px;
    background-size: cover;
    background-position:center;
    height:250px;
    width:400px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
}

#newsletter {
    text-transform:capitalize;
    background-image:url(img/banner/b14.png);
    height:150px;
    background-color:rgb(2, 2, 62);
    margin-bottom:40px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
    position:relative;
}

#newsletter h3 {
    color:white;
    margin-bottom:20px;
    margin-left:80px;
}

#newsletter h4 {
    color:rgb(79, 98, 97);
    margin-bottom:10px;
    margin-left:80px;
}

#newsletter span {
    color:orange;
}

.email input {
    width:320px;
    height:45px;
    border-radius:4px;
}

.email .signup {
    width:120px;
    height:45px;
    color:white;
    background-color:#088178;
    border:none;
    border-radius:2.5px;
    font-size:15px;
    text-transform:capitalize;
}

.email .signup:hover {
    cursor:pointer;
}

.email {
    position:absolute;
    right:80px;
    bottom:50px;
    border-radius:10px;
}

#more-information {
    margin:75px;
    text-transform:capitalize;
    display:flex;
    justify-content:space-around;
    line-height:0.8cm;
}

#more-information i {
    margin:5px;
}

#more-information h3 {
    margin-bottom:20px;
    font-size:20px;
}

#more-information span {
    color:black;
    font-weight: bold;
}

#more-information p {
    color:lightslategrey;
}

#section-4 p {
    margin-bottom:10px;
}

#section-4 .app-store, .google-store {
    margin-bottom:10px;
    border:1px solid green;
    cursor:pointer;
    border-radius:4px;
}


.more-info1 {
    margin-top:20px;
    margin-bottom:20px;
}

#footer {
    text-align:center;
    color:lightslategrey;
    margin:0;
}

.cartTab {
    text-transform:uppercase;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    inset:0 0 bottom left;
    display:grid;
    grid-template-rows:70px 1fr 70px;
    background-color:rgb(44, 40, 40);
    width:400px;
    inset:0 -400px 0 auto;
    transition:0.5s;
}

body.showCart .cartTab {
    inset : 0 0 0 auto;
    transform: translateX(0px);
}

.cartTab h1{
    font-size:25px;
    font-weight:bold;
}

.cartTab .btn{
    cursor:pointer;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
}

.cartTab .btn button {
    background-color:#E8BC0E;
    border:none;
    cursor:pointer;
    font-weight:500;
}

.cartTab .btn .close {
    background-color:#eee;
}

.cartTab .listCart .item img {
    width:100%;
} 

.cartTab .listCart .item {
    display:grid;
    grid-template-columns: 70px 150px 60px 1fr;
    color:white;
    text-align:center;
    align-items:center;
}

.listCart .quantity span {
    display:inline-block;
    width:25px;
    height:25px;
    background-color:#eee;
    color:#555;
    border-radius:50%;
    cursor:pointer;
}
.listCart .quantity span:nth-child(2) {
    background-color:transparent;
    color:#eee;
}

.listCart .item:nth-child(even) {
    background-color:rgb(37, 32, 32);
}

.listCart .item:nth-child(odd) {
    background-color:black;
}

/************************** Shop Page **************************/
#shoppingPage-header {
    background:url(img/banner/b1.jpg);
    color:white;
    width:100%;
    height:300px;
    display:flex;
    align-items:Center;
    justify-content:center;
    flex-direction:column;
}

#pagination {
    display:flex;
    align-items:Center;
    justify-content:center;
    font-size:25px;
    gap:10px;
}

.paging {
    display:flex;
    align-items:Center;
    justify-content:center;
    background-color:#088178;
    width:50px;
    height:50px;
    text-decoration:none;
    color:white;
    border-radius:5px;
}

/**************************Single Product ************************/
#productdetails {
    display:flex;
    /* border:2px solid red; */
    margin:60px;
    height:600px;
    align-items:center;
    justify-content:center;
}

#mainImage img{
    height:500px;
    width:500px;
    border-radius:7px;
}

#subImage {
    display:flex;
    align-items:Center;
    justify-content:space-around;
}

#subImage img {
    height:80px;
    width:80px;
    border-radius:7px;
}

#sec-2 {
    text-transform:capitalize;
    color:black;
    margin:40px;
}

#sec-2 h4 {
    margin-bottom:30px;
    color:black;
}

#sec-2 h3 {
    margin-bottom:35px;
    /* border:2px solid green; */
    font-weight:lighter;
}

#shape-size {
    height:30px;
    width:100px;
    margin-bottom:20px;
}

#no-of-pieces {
    width:40px;
    height:40px;
    margin-bottom:20px;
    border-radius:2.5px;
    border:1px solid black;
}

#shop-out {
    display:flex;
    gap:10px;
}

#shop-out button{
    
    height:40px;
    width:100px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#088178;
    border:none;
    color:white;
    border-radius:2.5px;
}

#sec-2 #description {
    width:500px;
    /* border:2px solid rebeccapurple; */
}

#sec-2 span {
    line-height:30px;
}

/*****************************Blog******************************/
#blog-banner-1 {
    color:white;
    background-image:url(img/banner/b19.jpg);
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    width:100%;
    height:300px;
    margin-bottom:40px;
    text-transform:capitalize;
}

#blog-banner-1 h3 {
    font-weight:bold;
    font-size:30px;
    margin-bottom:15px;
}

#blog-banner-1 h4 {
    font-weight:lighter;
    color:white;
}

#blog {
    padding: 150px 150px 0 150px;
    text-transform:capitalize;
    object-fit: fill;
}

#blog .blog-box {
    display:flex;
    align-items:center;
    width:100%;
    position:relative;
    padding-bottom:90px;
}

#blog .blog-img {
    width:50%;
    margin-right:40px;
}

#blog img {
    width: 100%; 
    height:300px;
    object-fit:cover;
}

#blog .blog-details {
    width: 50%; 
}

#blog .blog-details a {
    text-decoration:none;
    font-size:11px;
    color:#000;
    font-weight:700;
    position:relative;
    transition:0.3s;
}

#blog .blog-details a::after {
    content:"";
    width:50px;
    height:1px;
    background-color:black;
    position:absolute;
    top:4px;
    right:-60px;
}

#blog .blog-details a:hover {
    color:#088178;
}

#blog .blog-details a:hover::after {
    background-color:#088178;
}

#blog .blog-box h1 {
    position:absolute;
    top:-60px;
    left:0;
    font-size:70px;
    font-weight:700;
    color:#c9cbce;
    z-index:-9;
}

/****************************About Section**************************/
#about-banner-1 {
    background-image:url(img/about/banner.png);
    display:flex;
    align-items:center;
    justify-content:center;
    height:300px;
    flex-direction:column;
    color:white;
}

#about-banner-tagline {
    color:white;
    margin:20px;
}

#about-center {
    /* border:2px solid red; */
    display:flex;
    margin:50px;
}

#left-center {
    margin:20px;
}

#left-center img {
    width:700px;
    height:500px;
}

#right-center {
    margin:20px;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content:flex-start;
}

#right-center h1 {
    color:black;
    margin:20px;
    font-size:60px;
    text-transform:capitalize;
}

#right-center span, abbr{
    margin:20px;
    line-height:30px;
    font-size:20px;
}

#about-app {
    color:black;
    text-transform:capitalize;
}

#about-app h1 {
    text-align:center;
    color:black;
    font-size:40px;
}

#about-app .video {
    /* border:2px solid red; */
    width:70%;
    height:100%;
    margin:30px auto 30px;
}

#about-app .video video {
    width:100%;
    height:100%;
    border-radius:20px;
}

/****************************Contact Page*****************************/
#contact-banner-1 {
    background-image:url(img/about/banner.png);
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    flex-direction:column;
    height:300px;
    color:white;
    
}

#contact-details {
    display:flex;
    align-items:center;
    justify-content:center;
    text-transform:capitalize;
    margin:50px;
    list-style:none;
}

#details {
    margin:60px auto;
    height:400px;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
}

#contact-details span,
#form-details form span{
    color:darkgrey;
}

#contact-details h2, 
#form-details form h2{
    font-size:30px;
    margin-top:20px;
    margin-bottom:20px;
}


#contact-details h3 {
    font-size:20px;
    margin-bottom:20px;
}

#details div li {
    display:flex;
    gap:20px;
    color:#5e615e;
    margin-bottom:10px;
}

#form-details {
    display:flex;
    /* border:2px solid red; */
    margin:40px;
}

#form-details form {
    width:65%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    /* border:2px solid green; */
}

#form-details form input,
#form-details form textarea {
    width:100%;
    padding:12px 15px;
    outline:none;
    margin-bottom:20px;
    border:1px solid #e1e1e1;
}

#form-details form button {
    background-color:#088178;
    width:120px;
    height:40px;
    border:none;
    color:white;
    font-size:15px;
}

#form-details form button:hover {
    border-radius:5px;
    cursor:pointer;
    font-weight:bold;
}
.people {
    line-height:30px;
}

.people div {
    display:flex;
    gap:20px;
    /* border:2px solid yellow; */
    margin:20px;
}

.people span {
    font-weight:bold;
}

.people img {
    height:100px;
    width:100px
}

/******************************Cart Page***************************/
#cart table {
    width:100%;
    border-collapse:collapse;
    table-layout:fixed;
    white-space:nowrap;
}

#cart table img {
    width:70px;
}

#cart table td:nth-child(1) {
    width:100px;
    text-align:center;
}

#cart table td:nth-child(2) {
    width:150px;
    text-align:center;
}

#cart table td:nth-child(3) {
    width:250px;
    text-align:center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width:150px;
    text-align:center;
}

#cart table td:nth-child(5) input {
    width:70px;
    padding:10px 5px 10px 15px;
}

#cart table thead td {
    font-weight:700;
    text-transform:uppercase;
    font-sizE:13px;
    padding:18px 0;
}

#cart table tbody tr td {
    padding-top:15px;
}

#cart table tbody td {
    font-size:13px;
}

#cart table thead {
    border:1px solid #e2e9e1;
    border-left:none;
    border-right:none;
    /* padding:20px; */
}

#cart-add {
    display:flex;
    width:100%;
    flex-wrap:wrap;
    justify-content:space-between;
}

#coupon {
    width:50%;
    margin-bottom:15px;
}

#coupon h3,
#subtotal h3 {
    padding-bottom:15px;
}

#coupon input {
    padding:10px 20px;
    outline:none;
    width:60%;
    margin-right:10px;
    border:1px solid #e2e9e1;
}

#coupon button,
#subtotal button {
    background-color:#088178;
    color:#fff;
    padding:12px 20px;
    border:none;
}

#coupon button:hover,
#subtotal button:hover {
    border-radius:5px;
    font-weight:bold;
}
#subtotal {
    width:50%;
    margin-bottom:30px;
    border:1px solid #e2e9e1;
    padding:30px;
}

#subtotal table {
    border-collapse:collapse;
    width:100%;
    margin-bottom:20px;
}

#subtotal table td {
    width:50%;
    border:1px solid #e2e9e1;
    padding:10px;
    font-size:13px;
}