@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'PT Serif', serif;
}

#header {
    display:flex;
    align-items:Center;
    justify-content:space-between;
    padding:20px 80px;
    background:#E3E6F3;
    box-shadow:0 5px 15px rgba(0,0,0,1);
    z-index:999;
    position:sticky;
    top:0;
    left:0;
}

#navbar {
    display:flex;
    align-items:center;
    justify-content:center;
}

#navbar li {
    list-style:none;
    padding:0px 20px;
    position:relative;
}

#navbar li a {
    text-decoration:none;
    font-size:16px;
    font-weight:600;
    color:black;
    transition:0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    /* text-decoration:underline; */
    color:#088178;
}

/* #navbar li a:hover::after, */
#navbar li a.active::after,
#navbar li a:hover::after {
    content:"";
    width:30%;
    height:2px;
    background:#088178;
    bottom:-4px;
    left:20px;
    position:absolute;
}

h1 {
    color:#088178;
    font-size:70px;
    font-weight:bold;
    text-transform:uppercase;
}

h2 {
    font-size:70px;
    font-weight:bold;
}

h3 {
    font-size:30px;
}

h4 {
    color:rgb(117, 95, 95);
    font-size:20px;
}

#hero {
    background-image:url("img/hero4.png");
    background-size:cover;
    width:100%;
    height:90vh;
    position:top 25% right 0;
    padding:0 80px;
    display:flex;
    align-items:flex-start;
    justify-content:center;
    flex-direction:column;

}

#hero-btn {
    background-image:url("img/button.png");
    background-size:cover;
    background-color:transparent;
    border:none;
    height:50px;
    width:230px;
    /* cursor:pointer; */
    color:#088178;
}

#hero-btn:hover {
    cursor:pointer;
    font-weight:bold;
}

#feature {
    display:flex;
    align-items:center;
    justify-content:space-around;
}

#feature .fe-box {
    width:180px;
    padding:25px 15px;
    text-align:center;
    border:2px solid #cce7d0;
    box-shadow:10px 10px 54px rgba(70,62,221,0.1);
    margin:25px 25px;
}


#feature .fe-box p {
    padding:9px 8px 6px 8px;
    line-height:1;
    border-radius:4px;
    color:#088178;
    background-color:rgb(254, 182, 194);
}

#feature .fe-box:hover {
    box-shadow: 20px 20px 34px rgba(0,0,0,0.3);
}

#feature .fe-box img {
    width:100%;
    margin-bottom:10px;
}

.fe-pro, .sum-coll {
    text-align:center;
}

.pro-container img {
    height:240px;
    width:240px;
    border-radius:8px;
    /* margin-top:20px; */
}

.pro-container {
    height:400px;
    width:300px;
    border:2px solid black;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color: #088178;
    border-radius:20px;
    margin:20px;
    position:relative;
}

.des {
    display:flex;
    flex-direction:column;
    margin-right:50px;
}
.des span{
    color:lightslategrey;
    padding:3px;
}

.des p {
    font-weight:bold;
    padding:3px;
}

.des .star i {
    font-size:20px;
    color:rgb(243, 181, 25);
    padding:3px;
}

.star {
    display:flex;
    align-items:flex-start;    
}

#featuredproducts .cart {
    background-color: aqua;
    height:40px;
    width:40px;
    border-radius:25px;
    position:relative;
    left:195px;
    bottom:50px;
}

#featuredproducts .cart img{
    width:20px;
    height:20px;
    color:#088178;
    position:absolute;
    left:10px;
    top:10px;
}

.container {
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}

#banner {
    background-image: url(img/banner/b2.jpg);
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:250px;
    margin: 20px 0px;
    font-size: 50px;
}

#banner h4 {
    color:white;
    font-size:50px;
}

#banner span {
    /* font-size:75px; */
    color:Red;
}

#explore-more {
    height:55px;
    width:200px;
    margin:10px;
    border-radius:10px;
}

#explore-more:hover {
    border-radius:10px;
    background-color:#088178;
    cursor:pointer;
    text-decoration:underline;
    font-weight:bold;
    color:white;
}

#sm-banner {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    margin:50px 0px;
    width:1500px;
    /* border:2px solid red; */
}

.banner-box {
    background-image:url(img/banner/b17.jpg);
    height:350px;
    width:600px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
    color:white;
    background-size: cover;
    background-position:center;
}

.banner-box2 {
    background-image:url(img/banner/b10.jpg);
}

.banner-box h4 {
    color:white;
    margin:5px 20px;
    /* border:2px solid red; */
}

.banner-box p {
    font-size:40px;
    font-weight:bold;
    margin:0px 20px;
    /* border:2px solid red; */
}

.banner-box span {
    margin:10px 20px;
}

.banner-box .white {
    height:50px;
    width:150px;
    margin:5px 20px;
    color:white;
    background-color:transparent;
    border:1px solid white;
    font-weight:bold;
    font-size:20px;
}

#sm-banner .banner-box:hover button {
    background:#088178;
    border:1px solid #088178;
    cursor:pointer;
}

#new-banner {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:1500px;
    margin-bottom:50px;
    /* border:2px solid red; */
    /* margin: 0px 20px; */
}

#new-banner h2 {
    color:white;
    text-transform:uppercase;
    font-size:30px;
    font-weight:bold;
    margin-left:20px;
}

#new-banner h3 {
    color:red;
    text-transform:capitalize;
    font-size:20px;
    margin-left:20px;
}

.banner-1 {
    background-image: url(img/banner/b7.jpg);
    margin:0px 26px;
    background-size: cover;
    background-position:center;
    height:250px;
    width:400px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
}

.banner-2 {
    background-image:url(img/banner/b4.jpg);
    margin:0px 26px;
    background-size: cover;
    background-position:center;
    height:250px;
    width:450px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
}
.banner-3 {
    background-image:url(img/banner/b18.jpg);
    margin:0px 26px;
    background-size: cover;
    background-position:center;
    height:250px;
    width:400px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
}

#newsletter {
    text-transform:capitalize;
    background-image:url(img/banner/b14.png);
    height:150px;
    background-color:rgb(2, 2, 62);
    margin-bottom:40px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
    position:relative;
}

#newsletter h3 {
    color:white;
    margin-bottom:20px;
    margin-left:80px;
}

#newsletter h4 {
    color:rgb(79, 98, 97);
    margin-bottom:10px;
    margin-left:80px;
}

#newsletter span {
    color:orange;
}

.email input {
    width:320px;
    height:45px;
    border-radius:4px;
}

.email .signup {
    width:120px;
    height:45px;
    color:white;
    background-color:#088178;
    border:none;
    border-radius:2.5px;
    font-size:15px;
    text-transform:capitalize;
}

.email .signup:hover {
    cursor:pointer;
}

.email {
    position:absolute;
    right:80px;
    bottom:50px;
    border-radius:10px;
}

#more-information {
    margin:75px;
    text-transform:capitalize;
    display:flex;
    justify-content:space-around;
    line-height:0.8cm;
}

#more-information i {
    margin:5px;
}

#more-information h3 {
    margin-bottom:20px;
    font-size:20px;
}

#more-information span {
    color:black;
    font-weight: bold;
}

#more-information p {
    color:lightslategrey;
}

#section-4 p {
    margin-bottom:10px;
}

#section-4 .app-store, .google-store {
    margin-bottom:10px;
    border:1px solid green;
    cursor:pointer;
    border-radius:4px;
}


.more-info1 {
    margin-top:20px;
    margin-bottom:20px;
}
